<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ shop.name }}</title>
    {{'style.css' | asset_url | stylesheet_tag}}
    {{ content_for_header }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>

<body>

    <main>
        {{ content_for_layout }}

        {% section 'announcement-bar' %}

        {% section 'header'%}
        {% section 'banner'%}
        {% section 'logos'%}
        {% section 'banner-section-2'%}
        {% section 'slider'%}
        {% section 'offerPage'%}
        {% section 'card-section'%}
        {% section 'timer-offer'%}
        {% section 'product-page'%}
        {% section 'blog-page'%}
        {% section 'accordion'%}
        {% section 'blog-slider'%}
        {% section 'footer'%}
    </main>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>

</body>

</html>