<div class="card-wrapper">
    <div class="main-card">
        <div class="star-icon">⭐⭐⭐⭐⭐</div>
        <div class="content">
            <p>LOVED BY 100,000 HAPPY CUSTOMERS</p>
        </div>

    </div>
    <div class="para-card">
        <p>Join thousands saying cheers to hangover-free mornings</p>
    </div>
    <div class="card-main">
        <div class="card1">
            <p>"It actually works!"</p>
            <img src="{{ 'Frame.png' | asset_url }}" width="142px" height="20px" alt="Logo">

            <span>"Unbelievable. It works as advertised, it's my go-to when I'm going out. I honestly don’t know how I
                lasted so many years without this and now I can enjoy a night out with my friends without fearing the
                consequences.”
            </span>
            <div class="Testimonial">
                <div class="image">
                    <img src="{{ 'Image1.png' | asset_url }}" width="60px" height="60px" alt="image">
                </div>
                <div class="content1">John Doe</div>
            </div>
        </div>

        <div class="card1">
            <p>“Life saver”</p>
            <img src="{{ 'Frame.png' | asset_url }}" width="142px" height="20px" alt="Logo">

            <span>"Unbelievable. It works as advertised, it's my go-to when I'm going out. I honestly don’t know how I
                lasted so many years without this and now I can enjoy a night out with my friends without fearing the
                consequences.”
            </span>
            <div class="Testimonial">
                <div class="image">
                    <img src="{{ 'Image.png' | asset_url }}" width="60px" height="60px" alt="image">
                </div>
                <div class="content1">Jeremy Lopez</div>
            </div>
        </div>
        <div class="card1">
            <p>“Use this all the time!”</p>
            <img src="{{ 'Frame.png' | asset_url }}" width="142px" height="20px" alt="Logo">

            <span>"Unbelievable. It works as advertised, it's my go-to when I'm going out. I honestly don’t know how I
                lasted so many years without this and now I can enjoy a night out with my friends without fearing the
                consequences.”
            </span>
            <div class="Testimonial">
                <div class="image">
                    <img src="{{ 'image 283.png' | asset_url }}" width="60px" height="60px" alt="image">
                </div>
                <div class="content1">Andrea Lee</div>
            </div>
        </div>
        <div class="card1">
            <p>"Unbelievable"</p>
            <img src="{{ 'Frame.png' | asset_url }}" width="142px" height="20px" alt="Logo">

            <span>"Unbelievable. It works as advertised, it's my go-to when I'm going out. I honestly don’t know how I
                lasted so many years without this and now I can enjoy a night out with my friends without fearing the
                consequences.”
            </span>
            <div class="Testimonial">
                <div class="image">
                    <img src="{{ 'image 28333.png' | asset_url }}" width="60px" height="60px" alt="image">
                </div>
                <div class="content1">Bernadette Erika</div>
            </div>
        </div>
    </div>

</div>